<header class="about-header">
  <h2>O nas</h2>
</header>

<section class="team-section">

  <span class="overlay-square land-elem"></span>

  <aside>
    <h3>Motywacja</h3>
    <p>Opis firmy, historia ITD, consectetur adipisicing elit. Excepturi soluta dolore dolores rerum.</p>
    <h3>Zgrany zespół</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi soluta dolore dolores rerum fugit quasi possimus atque fugiat sit aut quibusdam doloribus obcaecati, cum, nam deleniti itaque cumque maxime veritatis. Placeat tempore voluptatibus impedit ea maiores omnis ad iure quis magni tenetur nisi, doloribus repudiandae illo nam dolore nulla amet.</p>
    <h3>Historia</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi soluta dolore dolores rerum fugit quasi possimus atque fugiat sit aut quibusdam doloribus obcaecati, cum..</p>
  </aside>
  <figure class="img-config team-img">
    <img src="assets/images/team.png" alt="team photo">
  </figure>
</section>

<section class="blockquote-section img-config blockquote-img">
  <blockquote>
    <p>"Jakiś cytat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae architecto aspernatur voluptates deleniti soluta, eum maiores velit totam delectus qui?"</p>
    <cite>~  Adam Audette, Chief Knowledge Officer, RKG</cite>
  </blockquote>
</section>

<section class="timeline-section">
  <div class="info-box">
    <h2>Jak działamy</h2>
    <p>Krótki opis kroków jakie podejmuje firma w celu zrealizowania celów Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, ullam.</p>
  </div>
  <ul class="timeline-box">
      <li>
        <article class="event land-elem right">
          <h3>Kotakt z klientem</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sed!</p>
        </article>
      </li>
      <li>

        <article class="event land-elem left">
          <h3>Analiza zespołowa</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sed!</p>
        </article>
      </li>
      <li>

        <article class="event land-elem right">
          <h3>Wdrażanie</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sed!</p>
        </article>
      </li>
      <li>

        <article class="event land-elem left">
          <h3>Poprawki klienta</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sed!</p>
        </article>
      </li>
  </ul>
</section>