<header class="about-header">
  <h2>O nas</h2>
</header>

<section class="team-section">

  <span class="overlay-square land-elem"></span>

  <aside>
    <h3>Motywacja</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi soluta dolore dolores rerum.</p>
    <h3>Zgrany zespół</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi soluta dolore dolores rerum fugit quasi possimus atque fugiat sit aut quibusdam doloribus obcaecati, cum, nam deleniti itaque cumque maxime veritatis. Placeat tempore voluptatibus impedit ea maiores omnis ad iure quis magni tenetur nisi, doloribus repudiandae illo nam dolore nulla amet.</p>
    <h3>Historia</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi soluta dolore dolores rerum fugit quasi possimus atque fugiat sit aut quibusdam doloribus obcaecati, cum..</p>
  </aside>
  <figure class="img-config team-img">
    <img src="assets/images/team.png" alt="team photo">
  </figure>
</section>

<section class="blockquote-section img-config blockquote-img">
  <blockquote>
    <p>"Companies are rushing headlong into content today, and rightly so. It's a battle to get noticed online amidst the noise and crowds."</p>
    <cite>~  Adam Audette, Chief Knowledge Officer, RKG</cite>
  </blockquote>
</section>

<section class="timeline-section">
  <div class="info-box">
    <h2>Jak działamy</h2>
    <p>We pride ourselves on delivering compelling, digital marketing solutions. Our winning solutions and experiences help many of our clients interact and engage with their customers in the best possible way.</p>
  </div>
  <ul class="timeline-box">
      <li>
        <article class="event land-elem right">
          <h3>Krok 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sed!</p>
        </article>
      </li>
      <li>

        <article class="event land-elem left">
          <h3>Krok 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sed!</p>
        </article>
      </li>
      <li>

        <article class="event land-elem right">
          <h3>Krok 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sed!</p>
        </article>
      </li>
      <li>

        <article class="event land-elem left">
          <h3>Krok 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, sed!</p>
        </article>
      </li>
  </ul>
</section>