footer
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  min-height: 20vh
  width: 100%
  background: #191919
  position: relative
  

  .social-icons
    margin: 20px 0

    li
      display: inline-block
      margin: 0 10px
      
      .fa
        padding: 10px 12px
        font-size: 20px
        color: #A1A3A4
        transition: 0.3s all
        border-radius: 5px
        
        &:hover
          background: #a64ca6
          color: #f1f1f1
          
  .copyright
    color: #A1A3A4
  