@keyframes show
  0%, 70%
    left: 0
  80%, 100%
    left: -99%

@keyframes blink
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

@keyframes move-growth-up
  0%
    bottom: -100%
  70%
    bottom: 5%
  100%
    bottom: 0