.img-config
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  &.header-img
    background-image: url('../images/main-header.jpg')
    background-position: top
    background-size: cover

  &.blockquote-img
    background-image: url('../images/blockquote-bg.png')

  &.chart-img
    background-image: url('../images/chart-bg.jpg')

  &.panel1-img
    background-image: url('../images/panel1.jpg')

  &.panel2-img
    background-image: url('../images/panel2.jpg')

  &.panel3-img
    background-image: url('../images/panel3.jpg')

  &.panel4-img
    background-image: url('../images/panel4.jpg')

  &.panel5-img
    background-image: url('../images/panel5.jpg')

  &.contact-img
    background-image: url('../images/contact-bg.jpg')
    background-position: left
    background-size: 100%