.img-config
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  &.header-img
    background-image: url('../images/header.png')

  &.blockquote-img
    background-image: url('../images/blockquote-bg.png')

  &.chart-img
    background-image: url('../images/chart-bg.jpg')
    background-attachment: fixed

  &.panel1-img
    background-image: url('../images/panel1.jpg')

  &.panel2-img
    background-image: url('../images/panel2.jpg')

  &.panel3-img
    background-image: url('../images/panel3.jpg')

  &.panel4-img
    background-image: url('../images/panel4.jpg')

  &.panel5-img
    background-image: url('../images/panel5.jpg')