<section class="main-header">
    <aside>
      <span class="main-img img-config header-img"></span>
      <span class="color-overlay"></span>

    </aside>
  <article>
  <blockquote class="author-box">
      <span class="word-overlay"></span>

      <h1>Marketing Adviser<span class="bold">.</span></h1>
      <p class="main-text">Pozyskuj nowych Klientów, dzięki wysokiej pozycji w wyszukiwarce</p>
      <cite class="author">~ Piotr Gabalewicz</cite>
    </blockquote>  
  </article>
  <a ng-click="gotoElement('bottom')" class="move-down">
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </a>
</section>

<section id="bottom" class="stats-section">
  <div class="info-box">
    <h2>Liczby, które mówią za nas</h2>
    <p>To wyniki naszych Klientów świadczą o naszej <span class="bold">skuteczności</span>, dlatego zaufaj faktom, które mówią o nas wszystko:</p>
  </div>
  <ul class="stats-box">
    <li class="stat">
      <p class="number" stat-count start="0" plus="+" finish="11543" speed="480"></p>
      <p>Godzin spędzonych w Gogle Analytics i Search Console</p>
    </li>
    <li class="stat">
      <p class="number" stat-count start="0" plus="+" finish="200" speed="10"></p>
      <p>Godzin prowadzonych szkoleń rocznie</p>
    </li>
    <li class="stat">
      <p class="number" stat-count start="0" plus="" finish="18" speed="1"></p>
      <p>Zdjętych filtrów i kar ręcznych od Google</p>
    </li>
    <li class="stat">
      <p class="number" stat-count start="0" plus="" finish="54" speed="2"></p>
      <p>Rozszerzone audyty serwisów internetowych</p>
    </li>
  </ul>
</section>

<section class="chart-section img-config chart-img">
  <span class="overlay-shape">
    <h3>Chart Section<span class="bold">.</span></h3>
    <p>this is only way to find it</p>
  </span>
</section>

<section class="services-section">
  <div class="info-box">
    <h2>Sprawdź, jak możemy pomóc Twojej firmie</h2>
    <p>Wysoka pozycja w wyszukiwarce i obecność w Internecie to elementy, które dynamicznie wspomogą rozwój i <span class="bold">rozpoznawalność</span> Twojej firmy. W Nazwa Firmy jesteśmy tego świadomi, dlatego codziennie prowadzimy działania, dzięki którym pozyskasz nowych Klientów:</p>
  </div>
  <div class="services-box">
    <a ng-repeat="service in services" href="#/usluga/{{service.link}}" class="service land-elem">
      <figure>
        <img src="./assets/images/seo-icon{{$index}}.png" alt="" />
      </figure>
      <h3>{{service.title}}</h3>
      <p>{{service.text}}</p>
    </a>
  </div>

</section>

<section class="hire-section hire-dark-bg overlay-dark">
  <i class="fa fa-3x fa-bell-o hire-light-color" aria-hidden="true"></i>
  <p class="hire-light-color">Konkurencja nie śpi. Nie daj jej szans i popraw swoją widoczność w Internecie już dziś!</p>
  <a href="#/contact" class="hire-link hire-light-color hire-before-light-bg" href="">ZAMÓW</a>
</section>

<section class="panels-section">
  <div class="info-box">
    <h2>Zaufali nam</h2>
    <p>Klienci, z którym współpracowaliśmy, dziś zajmują wysokie pozycje w wyszukiwarkach, a ich wyniki sprzedaży znacząco <span class="bold">wzrosły</span>. Sprawdź szczegóły wybranych projektów i dołącz widocznych w sieci.</p>
  </div>

  <article>
    <div class="panel left img-config panel1-img">
      <a ng-click="resizePanel($event)" class="plus-size"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
    </div>
    <div class="panel right white-bg">
      <h3>Three Cities One Pass</h3>
      <p class="panel-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut asperiores laudantium perferendis molestiae temporibus! Quod minus tempore ab eius aliquid!</p>
      <a ng-click="resizePanel($event)" class="plus-size"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
    </div>
  </article>
  <article>
    <div class="panel left img-config panel2-img">
      
      
      <a ng-click="resizePanel($event)" class="plus-size"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
    </div>
    <div class="panel right white-bg">
      <h3>Weekly Events</h3>
      <p class="panel-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic aliquid ullam praesentium deserunt voluptatum earum in rerum voluptates, nisi ut.</p>
      <a ng-click="resizePanel($event)" class="plus-size"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
    </div>
  </article>
  <article>
    <div class="panel left white-bg">
      <h3>Way More Thana Desk</h3>
      <p class="panel-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cumque dolores eveniet ullam at laborum necessitatibus consequatur accusamus. Vel, nesciunt.</p>
      <a ng-click="resizePanel($event)" class="plus-size"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
    </div>
    <div class="panel right img-config panel3-img">
      <a ng-click="resizePanel($event)" class="plus-size"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
    </div>
  </article>
  <article>
    <div class="panel left white-bg">
      <h3>Roof it at DeskLabs</h3>
      <p class="panel-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, fugiat deleniti dolorum at vitae numquam officia aspernatur repellat molestiae, ratione?</p>
      <a ng-click="resizePanel($event)" class="plus-size"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
      
    </div>
    <div class="panel right img-config panel4-img">
      <a ng-click="resizePanel($event)" class="plus-size"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
    </div>
  </article>
</section>
