.chart-section
  min-height: 50vh
  position: relative
  overflow: hidden

  .overlay-shape
    transform: skewX(-30deg)
    position: absolute
    background: rgba(#191919, 0.9)
    width: 70%
    height: 100%
    left: -20%
    top: -100%