.contact-header, .about-header, .service-header
  width: 100%
  min-height: 50vh
  display: flex
  justify-content: center
  align-items: center

  h2
    font-size: 65px
    width: 1000px
    line-height: 70px
    // font-family: 'Inconsolata', monospace
    font-family: 'Archivo Black', sans-serif
    letter-spacing: 1.3px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    
    &:after
      content: "."
      font-size: 70px
      color: #a64ca6