.contact-header, .about-header
  width: 100%
  min-height: 30vh
  display: flex
  justify-content: center
  align-items: center

  h2
    font-size: 45px
    font-family: 'Inconsolata', monospace
    letter-spacing: 1.3px
    
    &:after
      content: "."
      font-size: 70px
      color: #a64ca6