.form-section
  width: 100%
  display: flex
  justify-content: center
  margin: 30px 0
  position: relative
  overflow: hidden

  .overlay-rectangle
    z-index: -1
    transform: rotate(0deg)
    position: absolute
    right: -400px
    width: 1000px
    height: 700px
    background: lighten(#a64ca6, 35%) 

  aside
    width: 600px
    padding: 20px
    position: relative
    overflow: hidden

    h3
      margin-bottom: 25px
      font-size: 27px
      font-weight: 700

    .office-address
      border-top: 1px solid #dadada
      margin: 30px 0
      padding: 20px 0

      h4
        margin-bottom: 10px
        font-weight: 700

      p
        margin: 5px 0
        text-indent: 20px

  form
    border: 1px solid #dadada
    background: #FFFFFF
    padding: 20px
    margin-right: 50px
    width: 700px

    h3
      margin-bottom: 25px
      font-size: 27px
      font-weight: 700

    fieldset
      margin: 25px 0

      legend
        margin-bottom: 5px

      input, textarea
        width: 100%
        border: 1px solid #dadada
        padding: 0 7px
        line-height: 50px

        &:focus, &:active
          outline: none
          border: 1px solid #a64ca6

@media (max-width: 1420px)
  .form-section
    aside
      width: 40%

    form
      width: 60%

@media (max-width: 800px)
  .form-section
    display: block
    aside
      width: 100%

    form
      width: 100%
      margin-right: 0
      margin-bottom: 50px

    .overlay-rectangle
      bottom: 10%
      width: 500px
      height: 350px
