.hire-dark-bg
  background-color: #191919

.hire-dark-color
  color: #111111

.hire-light-bg
  background: #FFFFFF

.hire-light-color
  color: #F1F1F1

.hire-before-light-bg
  &:before
    background-color: #F1F1F1

.hire-before-dark-bg
  &:before
    background-color: #111111

.overlay-light
  &:before
    background: rgba(lighten(#a64ca6, 45%), 1)

.overlay-dark
  &:before
    background: rgba(darken(#a64ca6, 10%), 1)


.hire-section
  min-height: 40vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  position: relative
  overflow: hidden
  padding: 20px

  &:before
    content: ''
    position: absolute
    top: 0
    left: -140%
    width: 140%
    height: 100% 
    // background: rgba(darken(#a64ca6, 1%), 0.7)
    transition: 0.5s all linear

  &:hover

    &:before
      transform: translateX(10%) skew(-20deg)
      left: -40%

  .fa-bell-o
    animation: ring 2s infinite
    margin-bottom: 20px

  p
    font-weight: 300
    margin-bottom: 30px
    z-index: 80
    line-height: 25px

  .hire-link
    text-transform: uppercase
    font-weight: 700
    font-size: 40px
    display: block
    z-index: 80
    position: relative

    &:before
      content: ''
      position: absolute
      bottom: -10px
      width: 0
      height: 3px
      left: 0
      transition: 0.3s all

    &:hover
      &:before
        width: 100%