.service-section
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  article
    margin: 100px 0
    width: 1200px

    h3
      margin: 25px 0
      font-size: 27px
      font-weight: 700
      
    p
      line-height: 30px
      font-size: 20px

  ul
    margin: 100px 0
    width: 1400px
    display: flex
    flex-wrap: wrap

    h3
      flex: 100%
      text-align: center
      margin-bottom: 70px
      font-size: 27px
      font-weight: 700

    li
      width: 50%
      line-height: 30px
      font-size: 20px
      display: flex
      padding: 50px

      .fa
        color: #191919
        padding: 20px
        margin-right: 20px
        transition: 0.3s all


@media (max-width: 1450px)
  .service-section

    article
      width: 650px
      margin: 100px auto

    ul
      width: 100%
      padding: 20px
      flex-wrap: wrap

@media (max-width: 1000px)
  .service-section
    ul
      li
        padding: 20px


@media (max-width: 700px)
  .service-section

    article
      width: 100%
      padding: 20px
      margin: 25px 0

    ul
      margin: 25px 0
      li
        width: 100%
        margin-bottom: 30px

        .fa
          padding: 0