.stats-section
  padding: 100px 0
  width: 100%
  min-height: 80vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  
  .stats-box
    margin: 30px 0
    width: 1200px
    display: flex
    flex-wrap: wrap
    
    .stat
      text-align: center
      width: calc(100% * (1/4) - 20px - 20px)
      margin: 20px

      p
        padding: 7px 0
        line-height: 25px

      .number
        font-size: 50px
        margin: 10px 0

@media (max-width: 1220px)
  .stats-section
    .stats-box
      width: 100%


@media (max-width: 750px)
  .stats-section
    .stats-box
      margin: 30px auto
      .stat
        margin: 20px
        width: calc(100% * (2/4) - 20px - 20px)


@media (max-width: 500px)
  .stats-section
    .stats-box
      .stat
        width: calc(100% * (4/4) - 5px - 5px)