.stats-section
  padding: 100px 0
  width: 100%
  min-height: 70vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  .stats-box
    width: 900px
    display: flex
    flex-wrap: wrap
    
    .stat
      text-align: center
      flex: 1 1 auto
      margin: 20px

      .number
        font-size: 50px
        margin: 10px 0