.timeline-section
  padding: 100px 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 100%
  min-height: 100vh

  .timeline-box
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative

    &:before
      content: ''
      position: absolute
      left: 50%
      top: 50%
      height: 80%
      width: 2px
      background: #191919
      transform: translate(-50%, -50%)
    
    li
      margin-bottom: 40px
      list-style: none
      width: 50px
      height: 170px
      position: relative
      display: flex
      justify-content: center
      align-items: center

      &:before
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 25px
        height: 25px
        background: darken(#a64ca6, 30%)
        overflow: hidden
      
      &:last-child
        margin-bottom: 0

      .event
        width: 300px
        position: absolute
        display: flex
        flex-direction: column
        justify-content: center

        &.right
          text-align: left
          top: 0
          bottom: 0
          left: 100%

        &.left
          text-align: right
          top: 0
          bottom: 0
          right: 100%

        h3
          font-size: 23px
          margin-bottom: 10px
          font-weight: 700
        p
          line-height: 25px