<header class="service-header img-config blockquote-img">
  <h2>Usługi</h2>
</header>

<section class="services-section">
  <div class="info-box">
    <h2>Sprawdź, jak możemy pomóc Twojej firmie</h2>
    <p>Wysoka pozycja w wyszukiwarce i obecność w Internecie to elementy, które dynamicznie wspomogą rozwój i <span class="bold">rozpoznawalność</span> Twojej firmy. W Nazwa Firmy jesteśmy tego świadomi, dlatego codziennie prowadzimy działania, dzięki którym pozyskasz nowych Klientów:</p>
  </div>
  <div class="services-box">
    <a ng-repeat="service in services" href="#/usluga/{{service.link}}" class="service land-elem">
      <figure>
        <img src="./assets/images/seo-icon{{$index}}.png" alt="" />
      </figure>
      <h3>{{service.title}}</h3>
      <p>{{service.text}}</p>
    </a>
  </div>

</section>