<header class="contact-header">
  <h2>Contact</h2>
</header>

<section class="form-section">

  <form ng-submit="sendMessage(message)">
    <h3>Drop us a line</h3>
    <fieldset>
      <legend>Imię i Nazwisko:</legend>
      <input ng-model="message.name" name="name" type="text" placeholder="przykladowy@mail.com">
    </fieldset>

    <fieldset>
      <legend>Telefon:</legend>
      <input ng-model="message.phone" name="phone" type="text" placeholder="888-888-888">
    </fieldset>

    <fieldset>
      <legend>Email:</legend>
      <input ng-model="message.email" name="email" type="text" placeholder="przykladowy@mail.com">
    </fieldset>

    <fieldset>
      <legend>Adres strony internetowej</legend>
      <input ng-model="message.siteUrl" name="web" type="text" placeholder="www.google.pl">
    </fieldset>

    <fieldset>
      <legend>Pytania i uwagi</legend>
      <textarea ng-model="message.text" type="text" name="text" placeholder="przykładowy tekst"></textarea>
    </fieldset>

    <ul class="errors">
      <li ng-repeat="error in response">{{error.msg}}</li>
    </ul>

    <fieldset>
      <button type="submit" class="btn-main"></button>
    </fieldset>
  </form>

  <aside>
    <h3>Dwa biura</h3>
    <address ng-repeat="place in markers" class="office-address land-elem">
      <h4>{{place.city}}</h4>
      <p>{{place.street}}</p>
      <p>{{place.zip}} {{place.city}}</p>
      <p>{{place.phone}}</p>
    </address>
  </aside>

  <span class="overlay-rectangle land-elem"></span>



</section>

<section class="map-section">
  <ng-map zoom="6" center="Poland">
    <custom-marker ng-repeat="marker in markers" position="{{marker.fullAddress}}">
      
      <div class="marker-box">
        <h5>Biuro {{marker.city}}</h5>
      </div>
    </custom-marker>

  </ng-map>
</section>